@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Poppins|Ubuntu:700&display=swap");
/*font-family: 'Gloria Hallelujah', cursive;
font-family: 'Ubuntu', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif; }
