#about {
  background-color: #191919;
  color: rgb(219, 219, 219);
  text-align: left !important;

  .container {
    height: 50vh;
    letter-spacing: 0.3em;
    h1,
    h2,
    p {
      text-align: left;
      width: 70vw;
      opacity: 0;
    }
    .greeting {
      margin-top: 10vh;
      font-size: 1.8em;
    }
    .part {
      font-family: "Gloria Hallelujah", cursive;
    }
    .story {
      margin-top: 10vh;
      font-size: 1.2em;
      line-height: 2em;
    }
    .slide {
      animation: slideToRight 1s ease forwards;
    }
  }

  @keyframes slideToRight {
    from {
      transform: translateX(-10%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
