#home {
  background: url("../image/home-bg.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .blurred-part {
    background: url("../image/home-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    height: 30vh;
    width: 100%;
    filter: blur(10px) brightness(50%);
  }
  .intro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20vh;
    width: 100%;
    z-index: 1;
    flex-wrap: wrap;
    .name {
      width: 60vw;
      h1 {
        transform: translateY(-10%);
        font-family: "Ubuntu", sans-serif;
        font-size: calc(0.8em + 3.8vw);
        letter-spacing: 0.3em;
        text-transform: uppercase;
        color: white;
        border-right: 2px solid white;
      }
    }
    .quote {
      width: 28vw;
      p {
        transform: translateY(-10%);
        font-family: "Gloria Hallelujah", cursive;
        font-size: calc(0.7em + 1vw);
        color: white;
      }
    }
  }
  .arrow-down {
    position: absolute;
    bottom: 2vh;
    img {
      height: 10vh;
      width: auto;
      animation: blinker 0.7s ease infinite alternate;
    }
  }

  @keyframes blinker {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media screen and (max-width: $androidViewPortrait) {
    body {
      color: red;
    }
  }

  @media screen and (max-width: $ipadViewLandscape) {
  }
}
