nav {
  position: fixed;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  z-index: 100;

  .branding {
    cursor: pointer;
    color: black;
    text-decoration: none;
    h1 {
      letter-spacing: 0.4em;
      text-transform: uppercase;
      font-size: calc(0.3em + 1.5vw + 1vh);
      font-family: "Ubuntu", sans-serif;
    }
  }

  .menu {
    li {
      display: inline;
      margin-left: 1em;
      padding: 0.8em;
      a {
        color: rgb(100, 100, 100);
        font-weight: 600;
        list-style: none;
        text-decoration: none;
        letter-spacing: 0.2em;
        font-size: calc(0.2em + 1vw);
        &:hover {
          color: black;
        }
      }
    }
  }

  .burger {
    display: none;
    cursor: pointer;
    img {
      height: 5vh;
    }
  }

  @media (max-width: $ipadViewLandscape) {
    body {
      overflow-x: hidden;
    }
    .menulist {
      position: absolute;
      top: 10vh;
      right: 0px;
      margin: 0;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 90vh;
      width: 40%;
      transition: transform 0.5s ease;
      transform: translateX(100%);
      li {
        opacity: 0;
        transition: transform 1s ease;
        transform: translateX(100%);
      }
    }
    .burger {
      display: block;
    }

    .nav-active {
      transform: translateX(0%);
    }
  }
}
