nav {
  position: fixed;
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  z-index: 100;

  .branding {
    margin-left: 3em;
    cursor: pointer;
    a {
      color: black;
      text-decoration: none;
      h1 {
        letter-spacing: 0.4em;
        text-transform: uppercase;
        font-size: 1.5em;
        font-family: "Ubuntu", sans-serif;
      }
    }
  }

  .menu {
    margin-right: 2em;
    li {
      display: inline;
      margin-left: 1em;
      padding: 0.8em;
      a {
        color: rgb(100, 100, 100);
        font-weight: 600;
        list-style: none;
        text-decoration: none;
        letter-spacing: 0.2em;

        &:hover {
          color: black;
        }
      }
    }
  }

  .burger {
    display: none;
    margin-right: 2em;
    cursor: pointer;
  }
  @media screen and (max-width: $androidViewPortrait) {
    .branding {
      margin-left: 1em;
      a h1 {
        font-size: 1em;
      }
    }
    .burger img {
      height: 5vh;
    }
  }

  @media screen and (max-width: $ipadViewLandscape) {
    body {
      overflow-x: hidden;
    }
    .branding {
      margin-left: 2em;
    }
    .menulist {
      position: absolute;
      top: 10vh;
      right: 0px;
      margin: 0;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 90vh;
      width: 50%;
      transition: transform 0.5s ease;
      transform: translateX(100%);
      li {
        opacity: 0;
        transition: transform 2s ease;
        transform: translateX(100%);
      }
    }
    .burger {
      display: block;
    }

    .nav-active {
      transform: translateX(0%);
    }
  }
}
