#projects {
  background-color: #3d3d3d;
  transition: 1s ease;
  .project-list {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding-bottom: 10vh;
    .project-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: black;
      height: 30vh;
      width: 70vw;
      .preview {
        height: 100%;
        width: 30vw;
        background-color: #707070;
        img {
          height: 100%;
          width: 100%;
        }
      }
      .info {
        position: relative;
        height: 100%;
        width: 40vw;
        background-color: whitesmoke;
        font-size: calc(0.2em + 1.5vw);
        color: black !important;

        .desc {
          position: absolute;
          top: 10%;
          left: 10%;
          right: 10%;
        }
        .demo {
          position: absolute;
          text-decoration: none;
          left: 15%;
          bottom: 10%;
        }
        .source {
          position: absolute;
          text-decoration: none;
          right: 15%;
          bottom: 10%;
        }
      }
    }
  }
}
