#skills {
  background-color: #3d3d3d;
  .skill-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    .skill-list {
      ul {
        top: 0;
        padding: 1em;
        background-color: #191919;
        font-size: calc(0.5em + 1.5vw);
        li {
          font-size: 0.65em;
        }
      }
    }
  }

  @media (max-width: $androidViewPortrait) {
  }
}
