<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="theme-color", content="#000")
        link(rel="shortcut icon", href="./image/favicon.png", type="image/x-icon")
        link(rel="stylesheet", href="./css/style.css")
        title Cidro Zeirwayne
    body
        #preloader
            img(src="./gif/ident-frigeni-dribbble.gif", alt="preloader gif")

        nav
            .branding
                    h1 
                        | Cidro 
                        | Zeirwayne
            .menu
                ul.menulist
                    li 
                        a(href="#home") Home
                    li 
                        a(href="#projects") Projects
                    li 
                        a(href="#skills") Skills
                    //- li 
                    //-     a(href="#stack") Tech Stack
                    li 
                        a(href="#about") About Me
                    li 
                        a(href="#contact") Contact
            .burger
                img(src="./image/burger-black.png", alt="burger")

        section#home.full-screen
            .blurred-part
            .intro
                .name
                    h1 Cidro Zeirwayne
                .quote
                    p Good code is like a good joke, it needs no explanation
            .arrow-down
                    img(src="./image/arrow-down-white.png", alt="arrow-down")


        section#projects.full-screen
            .heading
                h3 Projects
            .project-list
                .project-container
                    .preview.center
                      img(src="./image/calc.png", alt="calculator")
                    .info
                        span
                        p.desc A simple calculator that has a keypress and keydown event for usability.
                        br
                        a.demo.dcalc(href="https://shawaine.github.io/calculator/" target="_blank") View demo  
                        a.source.scalc(href="https://github.com/shawaine/calculator" target="_blank") View source
                .project-container
                    .preview.center
                         img(src="./image/rec.png", alt="calculator")
                    .info
                        span
                        p.desc A single page app that fetches a recipe using API.
                        br
                        a.demo.drec(href="https://shawaine.github.io/recipe-app/" target="_blank") View demo 
                        a.source.srec(href="https://github.com/shawaine/recipe-app" target="_blank") View source

        section#skills.full-screen
            .heading
                h3 Skills
            .skill-container
                .skill-list.designer
                    //- img.icon(src="./image/designer-white.png", alt="designer-white")
                    ul Designer
                        li UI
                        li UX
                        li Prototyping
                .skill-list.developer
                    //- img.icon(src="./image/developer-white.png", alt="developer-white") 
                    ul Developer
                        li HTML5
                        li Pug
                        li CSS3
                        li SCSS
                        li Bootstrap
                        li Bulma
                        li JavaScript
                        li jQuery
                        li React.js
                        li C#
                        li MySQL
                .skill-list.tools
                    //- img.icon(src="./image/toolkit-white.png", alt="toolkit-white")
                    ul Tool Kit
                        li Visual Studio
                        li VS Code
                        li NPM
                        li Git
                        li GitHub
                        li Scrum
                        li Adobe Photoshop
                        li Adobe Xd
                        li
                             a(href="https://www.google.com/") View demo  

        //- section#stack.full-screen
        //-     .heading
        //-         h3 Tech Stack
        //-     .container
        //-         h1 Working on it.

        section#about.full-screen
            .heading
                h3 About Me
            .container
                h1.greeting Hi, My name is Zeirwayne Yzaack P. Cidro
                h2.part Front-End Developer
                p.story
                    | A passionate Software and Web developer 
                    | from Cabuyao City, Laguna, Philipines. 
                    | Recent graduate at Pamantasan ng Cabuyao with a degree of 
                    | Bachelor of Science in Information Technology, 21 years old. 
                    |
                    | My current objective is to obtain a work position in the field of 
                    | Software or Web Development where I can grow and enhance 
                    | my skills and share it in the field of software or web development. 

        section#contact.full-screen
            .heading
                h3 Contact 
                    h6 Send me an email
                    h6 (still working o n backend stuff.   :x)
            .container
                form
                    label Name
                    input.field.name(type='text', placeholder='lastname then firstname')
                    label Email
                    input.field.email(type='email', placeholder='name@email.com' required)
                    label Reason
                    select.field.reason
                        option Just to say Hi
                        option Comment
                        option Idea
                        option Job
                        option Other
                    label Message
                    textarea.field.message(placeholder='enter message here' cols="30" rows="5" maxlength="255" required)
                    input.send(type="submit", value="Send")

        footer
            .social-media
                a(href="https://www.linkedin.com/in/cidrozeirwayne/")
                    img.sicon(src="./image/linkedin.png", alt="linkedin")
                a(href="./resume/Resume_Cidro Zeirwayne.pdf")
                    img.sicon(src="./image/resume.png", alt="resume")
                a(href="https://github.com/shawaine")
                    img.sicon(src="./image/github.png", alt="github")
            .rights
                p #[strong Cidro Zeirwayne] | All rights reserved | June 2019
                p Host with &hearts; by #[strong Github]


        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="./js/app.js")