<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="theme-color", content="#000")
        link(rel="shortcut icon", href="./image/favicon.png", type="image/x-icon")
        link(rel="stylesheet", href="./css/style.css")
        title Cidro Zeirwayne
    body
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="./js/app.js")